<!DOCTYPE html>
{% load rest_framework %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API Pract</title>
</head>
<body>
    <h1>This works</h1>
    <ul>
    {% for line in an_apiview %}
    <li><h1>{{line}}</h1></li>
    {% endfor %}
    </ul>
    <div>
        
        <form action="" method="post">
            {% csrf_token %}
            {% render_form serializer %}
            {{name}}
            
            <input type="button" value="submit">
        </form>
        {{message}}
    </div>
    <hr>
    <a href="{% url 'api' %}"><button>API Views</button></a>
    <a href="{% url 'login' %}"><button>login</button></a>
</body>
</html>